body{
    border: solid 1px #0044ff;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: solid 1px red;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.mini-box{
    border: solid 1px #8400ff;
    width: 80px;
    height: 80px;
}